<div id="id-{{ .Attributes.id | hash.FNV32a }}">
  <div class="code-highlighting-banner">
    <span class="ps-1">{{ if .Type }}{{ .Type }}{{ else }}code{{ end }}</span>
    <button class="btn" onclick="copyCode('#id-{{ .Attributes.id | hash.FNV32a }}')"><i class="bi bi-clipboard"></i></button>
  </div>
  <pre><code class="language-{{ .Type }}">{{ .Inner }}</code></pre>
  <div class="text-center code-caption mb-3 mt-1">
    <b class="code-ref-color pe-1">Code block <span class="counter">{{ .Ordinal | math.Add 1 }}</span></b>
    {{ with .Attributes.caption }}{{ . }}{{ end }}
  </div>
</div>