<div id="id-{{ .Attributes.id | hash.FNV32a }}">
  <div class="code-highlighting-banner">
    <span class="ps-1">{{ .Type }}</span>
    <button class="btn" onclick="copyToClipboard(this)"><i class="bi bi-clipboard"></i></button>
  </div>
  <pre><code class="language-{{ .Type }}">{{ .Inner }}</code></pre>
  <script>hljs.highlightAll();</script>
  <div class="text-center code-caption mb-3 mt-1">
    <b class="code-ref-color pe-1">Code block <span class="counter">{{ .Ordinal | math.Add 1 }}</span></b>
    {{ with .Attributes.caption }}{{ . }}{{ end }}
  </div>
</div>

<script>
  function copyToClipboard(button) {
    const codeBlock = button.closest('div').nextElementSibling.querySelector('code');
    const textArea = document.createElement('textarea');
    textArea.value = codeBlock.textContent;
    document.body.appendChild(textArea);
    textArea.select();
    document.execCommand('copy');
    document.body.removeChild(textArea);
  }
</script>