// Order matters here, first we we override bootstrap variables
@import "bootstrap-overrides";
@import "bootstrap-color-overrides";

// Then we inject bootstrap
@import "bootstrap-5.3.3/bootstrap";

// Now we overwrite bootstrap dark theme variables
@import "bootstrap-light-theme-overrides";
@import "bootstrap-dark-theme-overrides";

// Rest of the code goes here
.navbar-toggler {
    border: none;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar-toggler-span {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-size: 100%;
}