$richard-red-100: #E6CDCC;
$richard-red-200: #CD9A99;
$richard-red-300: #B56866;
$richard-red-400: #9C3533;
$richard-red-500: #dd2f26;
$richard-red-600: #760300;
$richard-red-700: #5C0200;
$richard-red-800: #420200;
$richard-red-900: #270100;
$richard-red-1000: #0D0000;

$richard-red-100: #f7cdcb;
$richard-red-200: #ee9994;
$richard-red-300: #e6645d;
$richard-red-400: #dd2f26;
$richard-red-500: #dd2f26;
$richard-red-600: #a9211a;
$richard-red-700: #721712;
$richard-red-800: #3b0c09;
$richard-red-900: #030101;

$richard-blue-100: #f7f7ff;
$richard-blue-200: #b9b7ff;
$richard-blue-300: #7c77ff;
$richard-blue-400: #3e38ff;
$richard-blue-500: #0800f7;
$richard-blue-600: #0600b7;
$richard-blue-700: #0600b7;
$richard-blue-800: #040077;
$richard-blue-900: #020038;

$richard-yellow-10: #fef9f1;
$richard-yellow-100: #fbeed6;
$richard-yellow-200: #f7ddae;
$richard-yellow-300: #f4cb85;
$richard-yellow-400: #f0ba5d;
$richard-yellow-500: #eca934;
$richard-yellow-600: #d4982f;
$richard-yellow-700: #a57624;
$richard-yellow-800: #76551a;
$richard-yellow-900: #473310;
$richard-yellow-1000: #181105;

$richard-green-100: #ccded8;
$richard-green-200: #99beb1;
$richard-green-300: #669d8a;
$richard-green-400: #337d63;
$richard-green-500: #005c3c;
$richard-green-600: #005336;
$richard-green-700: #00402a;
$richard-green-800: #002e1e;
$richard-green-900: #001c12;
$richard-green-1000: #000906;

$richard-purple-100: #e3ccdd;
$richard-purple-200: #c799bb;
$richard-purple-300: #ac6798;
$richard-purple-400: #903476;
$richard-purple-500: #740154;
$richard-purple-600: #68014c;
$richard-purple-700: #51013b;
$richard-purple-800: #3a012a;
$richard-purple-900: #230019;
$richard-purple-1000: #0c0008;

$richard-pale-red-100: #fbd9d9;
$richard-pale-red-200: #f8c0c0;
$richard-pale-red-300: #f5a6a6;
$richard-pale-red-400: #f28d8d;
$richard-pale-red-500: #dd2f26;
$richard-pale-red-600: #d87373;
$richard-pale-red-700: #a85a5a;
$richard-pale-red-800: #784040;
$richard-pale-red-900: #482626;
$richard-pale-red-1000: #180d0d;

$richard-pale-blue-100: #e0eafb;
$richard-pale-blue-200: #c1d5f8;
$richard-pale-blue-300: #a2bff4;
$richard-pale-blue-400: #83aaf1;
$richard-pale-blue-500: #6495ed;
$richard-pale-blue-600: #5a86d5;
$richard-pale-blue-700: #4668a6;
$richard-pale-blue-800: #324b77;
$richard-pale-blue-900: #1e2d47;
$richard-pale-blue-1000: #0a0f18;

$richard-pale-green-100: #d8f0e3;
$richard-pale-green-200: #b1e1c6;
$richard-pale-green-300: #8ad1aa;
$richard-pale-green-400: #63c28d;
$richard-pale-green-500: #3cb371;
$richard-pale-green-600: #36a166;
$richard-pale-green-700: #2a7d4f;
$richard-pale-green-800: #1e5a39;
$richard-pale-green-900: #123622;
$richard-pale-green-1000: #06120b;

$richard-pale-purple-100: #f1ddf6;
$richard-pale-purple-200: #e3bbed;
$richard-pale-purple-300: #d699e5;
$richard-pale-purple-400: #c877dc;
$richard-pale-purple-500: #ba55d3;
$richard-pale-purple-600: #a74dbe;
$richard-pale-purple-700: #823b94;
$richard-pale-purple-800: #5d2b6a;
$richard-pale-purple-900: #38193f;
$richard-pale-purple-1000: #130815;

$richard-grey-100: #fff;
$richard-grey-200: #eaeaea;
$richard-grey-300: #d1d1d1;
$richard-grey-400: #b7b7b7;
$richard-grey-500: #9e9e9e;
$richard-grey-600: #848484;
$richard-grey-700: #6a6a6a;
$richard-grey-800: #515151;
$richard-grey-900: #383838;
$richard-grey-1000: #1e1e1e;
$richard-grey-1100: #000;

$richard-primary: $richard-red-500;
$richard-secondary: $richard-blue-500;
$richard-tertiary: $richard-yellow-500;
$richard-quartery: $richard-green-500;
$richard-quintery: $richard-purple-500;