$white: #fff;
$black: #000;

$richard-grey-100: #eaeaea;
$richard-grey-200: #d1d1d1;
$richard-grey-300: #b7b7b7;
$richard-grey-400: #9e9e9e;
$richard-grey-500: #848484;
$richard-grey-600: #6a6a6a;
$richard-grey-700: #515151;
$richard-grey-800: #383838;
$richard-grey-900: #1e1e1e;

$richard-red-100: #f9d8d6;
$richard-red-200: #f2aeaa;
$richard-red-300: #eb847e;
$richard-red-400: #e45952;
$richard-red-500: #dd2f26;
$richard-red-600: #b4241c;
$richard-red-700: #881b15;
$richard-red-800: #5c120e;
$richard-red-900: #300907;

$richard-blue-100: #c6c4ff;
$richard-blue-200: #9591ff;
$richard-blue-300: #635eff;
$richard-blue-400: #322bff;
$richard-blue-500: #0800f7;
$richard-blue-600: #0600c4;
$richard-blue-700: #050091;
$richard-blue-800: #03005e;
$richard-blue-900: #01002b;

$richard-yellow-100: #fffcf4;
$richard-yellow-200: #ffecc1;
$richard-yellow-300: #ffdc8e;
$richard-yellow-400: #ffcd5b;
$richard-yellow-500: #ffbd28;
$richard-yellow-600: #f4a900;
$richard-yellow-700: #c18600;
$richard-yellow-800: #8e6200;
$richard-yellow-900: #5b3f00;

$richard-green-100: #aff4d2;
$richard-green-200: #81efb8;
$richard-green-300: #54e99f;
$richard-green-400: #27e385;
$richard-green-500: #19be6b;
$richard-green-600: #139152; // Preferred
$richard-green-700: #0d6438;
$richard-green-800: #07371f;
$richard-green-900: #010a05;

$richard-purple-100: #fbd6f1;
$richard-purple-200: #f6a8e0;
$richard-purple-300: #f279d0;
$richard-purple-400: #ed4bc0;
$richard-purple-500: #e81db0;
$richard-purple-600: #bf138f; // Preferred
$richard-purple-700: #910e6c;
$richard-purple-800: #620a4a;
$richard-purple-900: #340527;

$richard-orange-100: #ffe0cc;
$richard-orange-200: #ffc299;
$richard-orange-300: #ffa366;
$richard-orange-400: #ff8533;
$richard-orange-500: #f60;
$richard-orange-600: #cc5200;
$richard-orange-700: #993d00;
$richard-orange-800: #662900;
$richard-orange-900: #331400;

$richard-primary: $richard-red-500;
$richard-secondary: $richard-blue-500;
$richard-tertiary: $richard-yellow-500;
$richard-quartery: $richard-green-500;
$richard-quintery: $richard-purple-500;