@import 'colors';

// Some reusable variables first.
$dark-theme-red: $richard-red-500;
$dark-theme-blue: $richard-blue-500;
$dark-theme-yellow: $richard-yellow-500;
$dark-theme-green: $richard-green-500;
$dark-theme-purple: $richard-purple-500;

$dark-theme-red-rgb: to-rgb($dark-theme-red);

// Then some more generic variables
$dark-theme-tertiary-bg-rgb: to-rgb($richard-grey-800);

// Body
$dark-theme-body-bg: $richard-grey-900;
$dark-theme-body-color: $richard-grey-200;

$dark-theme-bg-primary: $dark-theme-red;
$dark-theme-bg-primary-text-color: $richard-grey-900;

// Links
$dark-theme-link-color-rgb: $dark-theme-red-rgb;
$dark-theme-link-hover-color-rgb: to-rgb($richard-red-500);

// Dropdown
$dark-theme-dropdown-link-active-bg: $dark-theme-red;
$dark-theme-dropdown-link-active-color: $black;

// Logo
$dark-theme-logo-fill: $black;

// Navbar
$dark-theme-navbar-active-color: $black;
$dark-theme-nav-link-color: $black;
$dark-theme-navbar-toggler-color: $black;
$dark-theme-navbar-toggler-focus-color : $white;