// Light theme is incomplete (for now), as we use a lot more bootstrap defaults for this.
@import 'colors';

// Some reusable variables first.
$ririsharp-light-red: $ririsharp-red-500;
$ririsharp-light-blue: $ririsharp-blue-500;
$ririsharp-light-yellow: $ririsharp-yellow-500;
$ririsharp-light-green: $ririsharp-green-500;
$ririsharp-light-purple: $ririsharp-purple-500;

$ririsharp-light-red-rgb: to-rgb($ririsharp-light-red);

// Then some more generic variables
$ririsharp-light-tertiary-bg-rgb: to-rgb($ririsharp-grey-100);

// Body
$ririsharp-light-body-bg: $white;

// Links
$ririsharp-light-image-link-color: $ririsharp-light-red;

// Dropdown
$ririsharp-light-link-hover-color-rgb: to-rgb($ririsharp-red-500);
$ririsharp-light-dropdown-link-active-bg: $ririsharp-light-red;
$ririsharp-light-dropdown-link-active-color: $white;

// Logo
$ririsharp-light-logo-fill: $white;

// Navbar
$ririsharp-light-navbar-active-color: $white;
$ririsharp-light-nav-link-color: $white;
$ririsharp-light-navbar-toggler-color: $white;
$ririsharp-light-navbar-toggler-focus-color : $white;