{{ define "main" }}
<div class="container-title">
    <div class="row pt-4">
        <div class="col d-flex justify-content-center">
            <figure class="figure">
                {{ partial "image.html" (dict 
                "Src" "https://www.gravatar.com/avatar/{{ .Params.email | md5 }}?s=350&d=mp"
                "alt" "Gravatar of {{ .Params.name }}"
                "Classes" "rounded-circle") }}
            </figure>
        </div>
        <div class="col-12">
            <h1 class="title-lines">{{ .Params.name }}</h1>
        </div>
    </div>
</div>
<div class="container-text">
    {{ .Content }}
</div>
<div class="container-title pt-5">
    <div class="col-12">
        <h1 class="title-lines">Posts</h1>
    </div>
</div>
{{ partial "post-list.html" .Pages }}
{{ end }}