{{ define "main" }}
<div class="container-xxl">
    <div class="row pt-4">
        <div class="col d-flex justify-content-center">
            <picture>
                <source media="(min-width: 1400px)" srcset="https://www.gravatar.com/avatar/{{ .Site.Author.email | md5 }}?s=200&d=mp">
                <source media="(min-width: 1200px)" srcset="https://www.gravatar.com/avatar/{{ .Site.Author.email | md5 }}?s=180&d=mp">
                <source media="(min-width: 992px)" srcset="https://www.gravatar.com/avatar/{{ .Site.Author.email | md5 }}?s=150&d=mp">
                <source media="(min-width: 768px)" srcset="https://www.gravatar.com/avatar/{{ .Site.Author.email | md5 }}?s=120&d=mp">
                <img src="https://www.gravatar.com/avatar/{{ .Site.Author.email | md5 }}?s=80&d=mp" class="rounded-circle img-fluid" alt="Gravatar of {{ .Site.Author.name }}">
              </picture>
            
        </div>
        <div class="col-12 d-flex justify-content-center">
            <h1>{{ .Site.Author.name }}</h1>
        </div>
    </div>
    {{ .Content }}
</div>
{{ end }}