<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<link rel="shortcut icon" href="/favicon/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="icon" href="/favicon/favicon.ico" sizes="any">
<link rel="icon" href="/favicon/favicon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/favicon/favicon_180.png">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
