@import 'colors';

// Some reusable variables first.
$ririsharp-dark-red: $ririsharp-red-500;
$ririsharp-dark-blue: $ririsharp-blue-500;
$ririsharp-dark-yellow: $ririsharp-yellow-500;
$ririsharp-dark-green: $ririsharp-green-500;
$ririsharp-dark-purple: $ririsharp-purple-500;

$ririsharp-dark-red-rgb: to-rgb($ririsharp-dark-red);

// Then some more generic variables
$ririsharp-dark-tertiary-bg-rgb: to-rgb($ririsharp-grey-800);

// Body
$ririsharp-dark-body-bg: $ririsharp-grey-900;
$ririsharp-dark-body-color: $ririsharp-grey-200;

$ririsharp-dark-bg-primary: $ririsharp-dark-red;
$ririsharp-dark-bg-primary-text-color: $ririsharp-grey-900;

// Links
$ririsharp-dark-link-color-rgb: $ririsharp-dark-red-rgb;
$ririsharp-dark-link-hover-color-rgb: to-rgb($ririsharp-red-500);
$ririsharp-dark-image-link-color: $ririsharp-dark-red;

// Dropdown
$ririsharp-dark-dropdown-link-active-bg: $ririsharp-dark-red;
$ririsharp-dark-dropdown-link-active-color: $black;

// Logo
$ririsharp-dark-logo-fill: $black;

// Navbar
$ririsharp-dark-navbar-active-color: $black;
$ririsharp-dark-nav-link-color: $black;
$ririsharp-dark-navbar-toggler-color: $black;
$ririsharp-dark-navbar-toggler-focus-color : $white;